
.flex-row {
    display: flex!;
    flex-wrap: wrap!;
  }
  
/* .mx-1 {
margin-right: var(--spacing-one);
margin-left: var(--spacing-one);
}

.px-2 {
    padding-right: var(--spacing-two);
    padding-left: var(--spacing-two);
  } */
