/* 
.container {
    max-width: 70%;
    min-width: 66%;
    /* margin-left: auto;
    margin-right: auto; */
  }

.sidebar {
  min-width: 25%;
  justify-content: center;
}
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .flex-end {
    justify-content: flex-end;
  }

  .flex-start {
    justify-content: flex-start;
  }

  button {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--secondary);
  }
  
  button:hover {
    opacity: .8;
  }
  
  button[disabled] {
    cursor: default;
    opacity: .8;
  }

  h1 {
    font-size: 2.25rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  
  h2 {
    font-size: 2rem;
    color: white;
  }
  
  h3 {
    font-size: 1.75rem;
    color: var(--secondary);
    text-shadow: 2px 2px 4px #000000;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  } */